@charset "utf-8";
/* CSS Document */

html {
	-webkit-text-size-adjust: none;
}
html, body, #main {
	width: 100%;
	height: 100%;
}
body, ul, dl, li, dd, dt, p, div, h1, h2, h3, h4, h5, h6, table, td, th, ol, form {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", Arial, sans-serif;
	color: #fff;
	background: #edece8;
	overflow-x: hidden;
	max-width: 1920px;
	margin: 0 auto;
	line-height: 24px;
	font-size: 18px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, p, blockquote, th, td, img, section, a {
	margin: 0;
	padding: 0;
	border: 0;
}
a img, img {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
table, td, th {
	font-size: inherit;
}
h6, h5, h4, h3, h2, h1 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}
ol, ul, li {
	list-style: none outside none;
}
textarea, select, input {
	font-size: 100%;
	padding: 0;
	color: #999;
	font-family: inherit;
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
div {
	display: block;
}
.margin_top_10 {
	margin-top: 10%;
}
header {
	position: fixed;
	top: 0;
	z-index: 2000;
	left: 0;
	width: 100%;
	height: 48px;
	background-color: #1491c5;
}
header h1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	letter-spacing: normal;
	font: normal 20px/48px Arial, "Lucida Grande", Verdana, "Microsoft YaHei", hei;
	color: #fff;
}
header i {
	position: absolute;
	left: 0;
	top: 0;
	height: 48px;
}


i {
	font-style: normal;
	font-weight: 400;
}
.returnico {
	position: absolute;
	left: 0;
	top: 0;
	width: 68px;
	height: 48px;
	background-color: #15a4d5;
}
.i_bef:before {
	content: "";
	position: absolute;
}
.returnico:before {
	left: 25px;
	top: 14px;
	width: 12px;
	height: 20px;
	content: "";
	position: absolute;
	background-position: -431px -6px;
}
.returnico:before {
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
}
.main_frame {
	min-width: 240px;
	height: 100%;
}
.main_viewport {
	position: relative;
	height: 100%;
}
.index_body {
	min-height: 100%;
	background: #394e79;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url(../images/login_bg2.jpg) no-repeat;
	background-size: cover;
}
.index_body_login {
	min-height: 100%;
	background: #394e79;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url(../images/login_bg.jpg) no-repeat;
	background-size: cover;
}
/* 清除浮动 */
.clear {
	clear: both;
	font-size: 1px;
	width: 1px;
	height: 0;
	visibility: hidden;
	margin-top: 0px!important;
*margin-top:-1px;
	line-height: 0
}
.login_page_user:after, .register_page_table_div:after, .foot ul:after, .confirm_button:after, .daiyulu_li:after,.xianghao_t1:after,.xianghao_t2:after,.yulu_tab:after,.daiyulu_button ul:after,.yiwancheng_button ul:after{
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	visibility: hidden;
	content: ".";
}
.table_div {
	width: 80%;
	margin: 0 auto;
	margin-top: 10%;
}
/*登陆页css*/

.login_page {
	height: 100%;
}
.login_page_title {
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin-bottom: 4%;
	margin-top: 20%;
}
.login_page_line {
	margin: 0 auto;
	width: 100px;
	height: 1px;
	background: #415475;
}
.login_page_logo {
	text-align: center;
	margin-top: 10%
}
.login_page_logo img {
	width: 80%;
}
.login_page_user {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: url(../images/login_bg1.png);
}
.login_page_user_left {
	background: url(../images/login_bg2.png);
	padding: 10px 5px;
	width: 40px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius : 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius : 5px;
}
.login_page_user_left img {
	width: 60%;
}
.login_page_user_right {
	float: left;
	width: 78%;
}
.login_page_user_magin1 {
	margin-top: 18%
}
.login_page_user_magin2 {
	margin-top: 5%
}
.login_page_user_button {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #93e246;
	text-align: center;
	line-height: 44px;
	margin-top: 7%;
}
.login_page_fps {
	margin-top: 16%;
}
.login_page_fps a {
	color: #e5f4fb
}
.login_page_fps_register {
	display: inline-block;
	float: right;
	text-decoration: underline;
}
.login_page_user_right input {
	border: 0;
	background-color: transparent;
	width: 93%;
	height: 44px;
	padding-left: 20px;
	color: #fff;
}
/*注册页面*/
.register_page {
	padding-top: 70px;
	height: 100%;
}
.back_button {
	position: absolute;
	left: 0;
	top: 17px;
	padding-left: 20px;
}
.back_button img {
	width: 60%;
}
.page_top {
	background: #2d8de7;
	line-height: 60px;
	position: relative;
	text-align: center;
	font-size: 24px;
}
.regesit_tab {
	border: 2px solid #6994ae;
	line-height: 45px;
	height: 45px;
	width: 80%;
	margin: 0 auto;
}
.regesit_tab_1 {
	width: 46%;
	float: left;
	text-align: center
}
.regesit_tab_2 {
	width: 8%;
	float: left;
	text-align: center;
	height: 45px;
	background: url(../images/regesit_2.png) no-repeat;
	background-size: cover;
}
.regesit_tab_2_2 {
	width: 8%;
	float: left;
	text-align: center;
	height: 45px;
	background: url(../images/regesit_1.png) no-repeat right;
	background-size: cover;
}
.regesit_tab_3 {
	width: 46%;
	float: left;
	text-align: center
}
.regesit_tab_hover {
	background: url(../images/regesit_3.png)
}
.register_page_table {
	height: 45px;
	padding-bottom: 5px;
	width: 80%;
	margin: 0 auto;
	margin-top: 10%;
}
.register_page_table_icon {
	float: left;
	width: 50px;
	height: 45px;
	display: block;
}
.register_page_table_icon img {
	width: 80%;
}
.register_page_table_text {
	float: left;
}
.register_page_yanzheng {
	height: 45px;
	padding-bottom: 5px;
	width: 80%;
	margin: 0 auto;
	margin-top: 5%;
}
.icon_phone {
	background: url(../images/icon.png) 15px 5px;
}
.icon_user {
	background: url(../images/icon.png) -37px 5px
}
.icon_password {
	background: url(../images/icon.png) -95px 4px
}
.icon_email {
	background: url(../images/icon.png) -152px 3px
}
.icon_car {
	background: url(../images/icon.png) -231px 5px
}
.icon_yaoqing {
	background: url(../images/icon.png) -318px 3px;
}
.register_page_yanzheng_input {
	width: 44%;
	float: left;
	border-bottom: 1px solid #6397b1;
}
.register_page_yanzheng_button {
	width: 40%;
	background: #205975;
	float: right;
	height: 30px;
	text-align: center;
	padding: 11px 10px 6px 10px;
}
.register_page input {
	border: 0;
	background-color: transparent;
	width: 90%;
	height: 44px;
	padding-left: 10px;
	color: #fff;
}
.regesit_page_user_button {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #93e246;
	text-align: center;
	line-height: 44px;
	width: 80%;
	margin: 0 auto;
	margin-top: 50%;
}
.register_page_table_xing {
	float: right;
	padding-right: 10px;
	padding-top: 14px;
}
.register_page_table2 {
	height: 45px;
	padding-bottom: 5px;
	width: 80%;
	margin: 0 auto;
	margin-top: 5%;
}
.register_page_table_line {
	height: 1px;
	width: 100%;
	background: #fff;
	opacity: 0.2;
}
.register_page_table_div {
	padding-bottom: 5px;
}
/*  底部css*/  
.foot {
	background: #1c5c8a;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2000;
}
.foot .hover {
	background: #2371a9;
}
.foot ul li {
	width: 25%;
	float: left;
	text-align: center;
	font-size: 12px;
	padding: 8px 0 3px 0;
	line-height: 17px;
}
/*.foot ul li:nth-of-type(1) {
	width: 34%;
}
*/
.icon_home {
	background: url(../images/icon.png) -298px -63px;
	height: 22px;
	width: 56px;
	margin: 0 auto;
	padding: 10px 0 0px 0;
}
.icon_yulu {
	background: url(../images/icon.png) 16px -65px;
	height: 22px;
	width: 56px;
	margin: 0 auto;
	padding: 10px 0 0px 0;
}
.icon_zonghe {
	background: url(../images/icon.png) -92px -63px;
	height: 22px;
	width: 56px;
	margin: 0 auto;
	padding: 10px 0 0px 0;
}
.icon_wode {
	background: url(../images/icon.png) -201px -63px;
	height: 22px;
	width: 56px;
	margin: 0 auto;
	padding: 10px 0 0px 0;
}
/*loading*/
.loading {
	background-color: rgba(0,0,0,0.7);
	;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3000;
}
.loading_icon {
	text-align: center;
	margin-top: 63%;
}
.loading_icon img {
	width: 100px;
}
.loading_text {
	padding: 30px 50px 0 50px;
	line-height: 30px;
}
/*error*/

.error {
	background-color: rgba(0,0,0,0.7);
	width: 270px;
	position: absolute;
	left: 50%;
	top: 30%;
	z-index: 3000;
	margin-left: -167px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	text-align: center;
	PADDING: 30PX 30PX 30PX 30PX
}
.error_icon {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	background: url(../images/icon.png) 0px -130px no-repeat;
	margin-bottom: 20px;
}
.error_text {
	LINE-HEIGHT: 30PX;
}
/*confirm*/
.confirm_button {
	margin-top: 30px;
	padding: 0 20px;
}
.confirm_button1 {
	float: left;
	width: 100px;
	line-height: 35px;
	text-align: center;
	background-color: #82A028;
}
.confirm_button2 {
	float: right;
	width: 100px;
	line-height: 35px;
	text-align: center;
	background-color: #6C6C6C;
}
/*预录*/
.yulu_tab ul li {
	float: left;
	width: 25%;
	text-align: center;
}
.yulu_tab .hover {
	background: #3c9abd;
	color: #fff;
}
.yulu_tab {
	margin: 0 auto;
	width: 90%;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	overflow: hidden;
	border: 2px solid #3c9abd;
	line-height: 45px;
	height: 45px;
	margin-top: 70px;
}
.yulu_photo_title {
	text-align: center;
	padding: 15px 0 10px 0;
}
.yulu_photo_photo {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	width: 70%;
	background-color: #ccebf7;
	margin: 0 auto;
	position: relative;
}
.yulu_photo_photo_small {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	width: 270px;
	background-color: #ccebf7;
	height: 270px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -135px;
	left: 50%;
	margin-left: -135px;
}
.icon_photo {
	display: block;
	width: 80px;
	height: 58px;
	background: url(../images/icon.png) -487px 0px;
}
.yulu_photo_photo_small_dw {
	width: 72px;
	left: 29%;
	top: 25%;
	color: #5b8ea3;
	margin: 0 auto;
	padding-top: 35%;
}
.text_green {
	color: #f6ff00;
	font-weight: bold;
}
.yulu_kefu {
	text-align: center;
	padding: 15px 0;
}
.yulu_gundong_right {
	float: right;
}
.yulu_gundong {
	margin: 0 auto;
	font-size: 14px;
	line-height: 25px;
	background: #68B9E0;
	padding: 5px 40px 58px 40px;
}

@media screen and (max-width:320px) {
.yulu_photo_photo_small_dw {
	padding-top: 25%;
}
.yulu_photo_photo {
	width: 50%
}
.yulu_gundong {
	padding: 5px 0px 58px 0px;
}
}

@media screen and (max-width:375px) and (min-width:321px) {
.yulu_photo_photo {
	width: 65%
}
}
/*待预录*/

.daiyulu_list {
	padding: 20px 5%;
	padding-bottom: 70px;
}
.daiyulu_img {
	float: left;
}
.daiyulu_button ul li {
	float:left;
	width:50%;
}
.daiyulu_button ul li img {
	width:90%;border: 2px solid #6ebfe5;
}
.daiyulu_img {
	width: 40%;
	border: 2px solid #6ebfe5
}
.daiyulu_img img {
	width: 100%;
	height: auto;
}

.daiyulu_button .daiyulu_jiaji {
	display: block;
	margin: 0 auto;
	background: #449fcb;
	text-align: center;
	line-height: 39px;
	font-size: 18px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 15px;
}
.daiyulu_button .daiyulu_quxiao {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	line-height: 39px;
	margin: 10px 0;
	background: #ababab;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.daiyulu_line {
border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 0px;
  opacity: 0.2;
  margin: 20px 0 20px 0;
}
.daiyulu_button {
	font-size: 16px;
	line-height: 49px;  float: right;
  width: 54%;
}
.home_bg {
	background: url(../images/home_bg.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.home_button img {
	width: 80%;
	height: auto
}
.home_button {
	text-align: center;
	top: 25%;
	position: absolute;
}
.body_n1 {
	margin-top: 15%;
}
.zh_list {
	background-color: #ededed;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	overflow: hidden;
	  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}
.zh_list ul li {
	border-bottom: 1px solid #ccc;
	line-height: 64px;
	color: #8a8a8a;
	padding: 0 20px;
}
.zh_table_icon {
	float: left;
	width: 37px;
	height: 26px;
	display: block;
	margin-right: 10px;
	margin-top: 21px;
}
.zh_icon_dh {
	background: url(../images/icon.png) 6px -254px;
}
.zh_icon_kg {
	background: url(../images/icon.png) -53px -253px;
}
.zh_icon_xh {
	background: url(../images/icon.png) -114px  -253px;
}
.zh_icon_jc {
	background: url(../images/icon.png) -173px -253px;
}
.zh_icon_wz {
	background: url(../images/icon.png) -232px -253px;
}
.zh_icon_dl {
	background: url(../images/icon.png) -288px -251px;
}
.zh_icon_dz {
	background: url(../images/icon.png) -345px -251px;
}



.dh_icon_dc{
	background: url(../images/icon.png) 1px -299px;
}
.dh_icon_zl{
	background: url(../images/icon.png) -232px -296px;
}
.dh_icon_jd{
	background: url(../images/icon.png) -175px -296px
}
.dh_icon_bt{
	background: url(../images/icon.png) -114px  -296px;
}
.dh_icon_sc{
	background: url(../images/icon.png) -344px -296px;
}
.dh_icon_mm{
	background: url(../images/icon.png) -53px -296px;
}
.dh_icon_dx{
	background: url(../images/icon.png) -288px -296px;
}


/*箱号查询*/
.xianghao_t1{ width:90%;  margin:0 auto; padding-top:70px;}
.xianghao_t1_1{  padding: 10px 0;}
.xianghao_t1_2{ }
.xianghao_t1_3{  padding: 10px 0; }
.xianghao_t1_1_t{ font-size:16px;}
.xianghao_t1_1_b{ font-size:14px; color:#3CF}
.xianghao_t1_2 input{ width:100% ; height:30px;}
.xianghao_t2{ margin:0 auto; width:90%; margin-top:10px; font-size:16px; line-height:35px;}
.xianghao_t2_right{ float:left; width:47.5%; margin-right:5%;}
.xianghao_t2_error{ float:left;width:47.5%}
.xianghao_t2 textarea{ width:100%; height:300px;}


/*堆场*/

.search_input{ width:80%; float:left; height:30px;}
.search_input input{ width:100%; border:0; background-color: transparent; color:#fff; padding-left:25px;height: 48px;
  line-height: 48px;}
.search_button{ width:20% ; float:left; background:#3c9abd;  height: 49px; }
.dc_icon_sear{background: url(../images/icon.png) -405px -293px; 
  width: 39px;
  height: 34px;
  display: block; margin:0 auto;margin-top: 5px;
 }
 .duix_box{  background-color: #ededed;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;padding-bottom: 20px;
  margin-top: 20px;  color: #464646;}
  .duix_box_1{line-height: 55px;
  padding: 0 20px;  color: #156693;
  font-weight: bold;
  border-bottom: 1px solid #ccc;}
  .duix_box_2{ padding: 20px 20px 0 20px;  font-size: 16px;}
  .duix_box_2_l{ float:left;}
  .duix_box_2_r{   margin-left: 60px; }


.yiwancheng_button{  font-size: 16px;
  line-height: 49px;
  }
  
  .yiwancheng_button ul li img {
  width: 90%;
  border: 2px solid #6ebfe5;
}
.yiwancheng_button ul li {
  float: left;
  width: 50%;
}
.yiwancheng_line{  border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 0px;
  opacity: 0.2;
  margin: 0px 0 20px 0;
}}











@media (max-width:320px){
	.zh_list ul li{  line-height: 48px;}
	.zh_table_icon{  margin-top: 16px;}
	.register_page input{width: 170px;}
	
	
}

@media (max-width:375px){
	
	
	
}













