/*html, body, .h100, #main {
    height: auto;
}*/

body {
    background: #e9ecf1;
    font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    font-size: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, p, blockquote, th, td, img, section, a {
    margin: 0;
    padding: 0;
    border: 0;
    color: #999;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: none;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #ebebeb;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, iframe {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

ul, ol {
    list-style: none;
}

a {
    color: #999;
    text-decoration: none;
}

    a:focus {
        -moz-outline-style: none;
    }

fieldset, img, button, input {
    border: 0;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.overflow {
    overflow: hidden;
}

input, textarea {
    width: 100%;
    border: 0;
    padding: 0;
    background: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    font-size: 100%;
}

.basefix, .layoutfix {
    *zoom: 1;
}

    .basefix:after, .layoutfix:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        overflow: hidden;
    }

.txt_lt {
    text-align: left;
}

.txt_lr {
    text-align: right;
}

.padlr {
    padding: 10px;
}

.marlr {
    margin: 10px;
}

/**/
.app_box,
.app_btn_a,
.fm_app_list,
.user_box,
.pwd_box {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 1px #d7d8dd;
    border: 1px solid #d7d8dd;
}


/*鎸夐挳閾炬帴*/
.app_btn_a {
    display: block;
    height: 55px;
    color: #676767;
}

.app_out_btn {
    display: block;
    margin: 15px;
    background: #ffb001;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 45px;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.app_btn_a span {
    line-height: 55px;
    display: inline-block;
    margin-left: 10px;
}

.app_btn_a .icon_next {
    margin: 15px 10px 0;
}

/*搴曢儴鎸夐挳*/
.nav_btn {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    z-index: 2000;
}

    .nav_btn a {
        display: inline-block;
        width: 50%;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 18px;
        background: #ffb001;
        float: left;
    }

        .nav_btn a.bc {
            background: #a9a9a9;
        }

/*涓夎绠ご*/
.icon_next, .icon_top {
    width: 15px;
    float: right;
}

    .icon_next::before,
    .icon_top::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        border-right: 2px solid #d5d5d5;
        border-top: 2px solid #d5d5d5;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    /*鍚戝彸绠ご*/
    .icon_next::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

.fm_app_list li span, .fm_app_list li em, .dd_list li span {
    display: inline-block;
    vertical-align: middle
   
}
/*鐢ㄦ埛*/
.user_app_wap {
    background: #4f5f6f;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.user_app_name, .company_app_name {
    font-size: 18px;
    color: #fefefe;
    padding: 8px 0 0;
}

.company_app_name {
    color: #b5bac0;
}

.user_app_wap img.icobg {
    width: 80px;
    height: 80px;
    border: 5px solid #5d6a7a;
    border-radius: 80px;
    vertical-align: top;
}

/*琛ㄥ崟鍒楄〃*/
.fm_app_list {
    margin: 0 10px;
}

    .fm_app_list li, .dd_list li {
       
        border-top: 1px solid #e9ecf1;
        padding:10px;
    }

        .fm_app_list li:nth-child(1) {
            border-top: 0;
        }

        .fm_app_list li .icon_next, .dd_list li .icon_next {
            margin-top: 15px;
        }
        .fm_app_list li .icon_next{ margin-top: -2px;}

        .fm_app_list li span, .dd_list li span {
            float: left;
        }

            .fm_app_list li span.lab, .dd_list li span.lab {
                width: 32%;
                text-align: left;
                color: #676767;
                color: #666;
            }

            .fm_app_list li span.txt_box, .dd_list li span.txt_box {
                width: 60%;
                color: #000;
            }

        .fm_app_list li em, .dd_list li em {
            width: 40px;
            background: #d4d4d4;
            height: 25px;
            line-height: 25px;
            float: right;
            border-radius: 40px;
            color: #fafafa;
            text-align: center;
            font-style: normal;
            font-size: 12px;
            margin: 12px 15px 0 0;
        }
        .fm_app_list li em{ margin-top: 0;}

            .fm_app_list li em.cur, .dd_list li em.cur {
                background: #299be4;
                color: #fff;
            }

.fm_app_list_n {
    border-radius: 0px;
    background: #fff;
    box-shadow: 0;
    border: 0;
}
/*绯荤粺浠嬬粛--璐﹀彿鏇存崲*/
.app_user_bg {
    background: url(images/indexbg.jpg) #1e2730 no-repeat;
    background-size: 100% 100%;
}

.app_bg_none {
    background: none;
}

    .app_bg_none .user_app_name {
        margin-top: 10px;
    }

    .app_bg_none a {
        color: #0049b3;
        text-decoration: underline;
    }

.app_user_btn2 a {
    margin: 20px 15px;
}

.hwt_s_logo {
    margin: 70px 30px 30px;
}

    .hwt_s_logo img {
        width: 100%;
        vertical-align: auto;
    }

.hwt_m_top {
    margin-top: 110px;
}

.hwt_sys {
    padding: 0 10px 10px;
}

.hwt_sys_tt {
    height: 45px;
    background: #299be4;
    border: 1px solid #299be4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-indent: 10px;
    line-height: 45px;
}

.hwt_list {
    background: #fff;
    padding-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #fff;
}

    .hwt_list li {
        padding: 0 0 20px;
    }

    .hwt_list span {
        display: inline-block;
        vertical-align: top;
        width: 70%;
        color: #999;
    }

        .hwt_list span.row {
            width: 25%;
            text-indent: 15px;
            color: #151515;
        }

/*鏁版嵁鍒楄〃*/
.order_box {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

    .order_box li, .order_box li span {
        
       
    }
    .order_box li{ line-height: 20px;}
        .order_box li:nth-child(1) {
           
        }

    .order_box .list_num {
        position: absolute;
        right: 10px;
        width: 50px;
        height: 50px;
        top: 0;
        background: url(images/list_num.png) no-repeat;
        background-size: 50px 50px;
        text-align: center;
        line-height: 40px;
    }

        .order_box .list_num i {
            color: #fff;
            font-style: normal;
            font-size: 20px;
            display: block;
            width: 25px;
            height: 35px;
            line-height: 35px;
            padding-left: 22px;
            text-align: center;
        }

    .order_box .more_btn span {
        color: #fff;
        width: 200px;
        position: absolute;
        left: 0;
        top: 0;
        text-align: left;
    }

    .order_box .more_btn {
        height: 44px;
        line-height: 44px;
        background: #299be4;
        display: block;
        width: 100%;
        color: #fff;
        position: relative;
    }

    .order_box ul.fm_app_list {
      
    }

        .order_box ul.fm_app_list li {
            border: 0;
            padding: 10px 0 10px 10px;
        }

        .order_box ul.fm_app_list .icon_next {
            margin: 0;
        }

            .order_box ul.fm_app_list .icon_next::before {
                border-color: #fff;
            }

        .order_box ul.fm_app_list li span.txt_box {
            width: 65%;
        }

/*璇︽儏鍒囨崲*/
.app_order_tab {
    margin: 10px;
    text-align: center;
}

    .app_order_tab div {
        display: inline-block;
        line-height: 40px;
        height: 40px;
        width: 33%;
        color: #999;
        text-align: center;
    }

        .app_order_tab div:nth-child(1) {
            float: left;
        }

        .app_order_tab div:nth-child(2) {
        }

        .app_order_tab div:nth-child(3) {
            float: right;
        }

        .app_order_tab div.cur {
            background: #299be4;
            color: #fff;
        }

            .app_order_tab div.cur:nth-child(1) {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .app_order_tab div.cur:nth-child(3) {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
/**/
.fm_app_list2 {
    margin: 0 10px;
    padding: 10px;
}

    .fm_app_list2 article {
        height: 40px;
    }

        .fm_app_list2 article.box_sg div {
            box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -icab-box-sizing: border-box;
            -khtml-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            height: 40px;
           
        }

        .fm_app_list2 article.box_sg div {
            width: 100%;
            height: 40px;
        }

    .fm_app_list2 div span {
        display: inline-block;
        line-height: 40px;
        font-size: 16px;
        float: left;
    }

        .fm_app_list2 div span:nth-child(1) {
            width: 32%;
            color: #666;
            padding:0 10px;
            text-align: left;
        }

        .fm_app_list2 div span:nth-child(2) {
            color: #1b1b1b;
            text-align: left;
        }

    .fm_app_list2 div.ab_line {
        position: relative;
        width: 50%;
    }

        .fm_app_list2 div.ab_line span.pos_span {
            position: absolute;
            left: 40%;
            width: 100%;
            padding-left: 5px;
        }

.app_order_list {
    margin: 0 10px;
}

    .app_order_list dt {
        background: #fff;
        height: 40px;
    }

    .app_order_list .icon_next {
        margin-left: 30px;
    }

        .app_order_list .icon_next::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            vertical-align: middle;
            border-right: 2px solid #d5d5d5;
            border-top: 2px solid #d5d5d5;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            float: right;
            margin: 20px 20px;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }

    .app_order_list dt {
        line-height: 50px;
        height: 50px;
        color: #666;
        font-size: 16px;
        padding-left: 20px;
        border-bottom: 1px solid #e9ecf1;
    }

        .app_order_list dt.down, .app_order_list dl dd div {
            border-bottom: none;
        }

            .app_order_list dt.down .icon_next::before {
                -webkit-transform: rotate(315deg);
                transform: rotate(315deg);
                margin-top: 20px;
            }

        .app_order_list dt:nth-child(1) {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

    .app_order_list dl dd {
        padding: 0 20px;
        display: none;
        background: #f7f7f7;
    }

        .app_order_list dl dd div span {
            display: inline-block;
            /*height: 40px;
            line-height: 40px;*/
            line-height: 20px;
            vertical-align: middle;
            padding: 10px 0;
            color: #333;
            font-size: 15px;
        }

            .app_order_list dl dd div span:nth-child(1) {
                width: 28%;
                text-align: left;
            }

            .app_order_list dl dd div span:nth-child(2) {
                width: 34%;
                text-align: center;
            }

            .app_order_list dl dd div span:nth-child(3) {
                width: 34%;
                text-align: right;
            }

.app_order_total {
    background: #299be4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 20px;
    height: 82px;
}

    .app_order_total p {
        color: #fff;
        height: 40px;
        line-height: 40px;
        width: 100%;
        text-align: right;
    }

        .app_order_total p span {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
        }

        .app_order_total p.dot span {
            border-bottom: 1px dotted #81bdec;
            font-size: 16px;
        }

.tips {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    padding-left: 25px;
    padding-bottom: 5px;
}

.tips_ico {
    background: url(images/tips_ico.png) left top no-repeat;
    background-size: 20px 20px;
}

.dd_list dl dd {
    padding: 0;
}

.dd_list dt {
    padding-left: 10px;
}

.dd_list li .da_ico {
    background: url(images/da_ico.jpg) left center no-repeat;
    background-size: auto 23px;
    width: 27px;
    float: left;
}

.dd_list li span.txt_box {
    width: 57%;
}

.txt_box textarea {
    width: 100%;
    height: 90px;
    line-height: 25px;
    background: none;
    border: 0;
    font-size: 16px;
    padding-top: 15px;
}

.app_order_list dl dd li:last-child {
    height: auto;
}

    .app_order_list dl dd li:last-child span {
        height: auto;
    }
/*缁戝畾*/
.user_box, .pwd_box {
    margin: 20px 15px 0;
    height: 35px;
    padding: 5px 0 0;
    box-shadow: 0 1px 1px #669ad1;
}

.user_box {
    margin-top: 40px;
    background: url(images/user_box_ico.png) 15px center no-repeat;
    background-size: 20px 18px;
    background-color: #fff;
}

.pwd_box {
    background: url(images/pwd_box_ico.png) 15px center no-repeat;
    background-size: 16px 20px;
    background-color: #fff;
}

    .user_box span, .pwd_box span {
        height: 30px;
        line-height: 30px;
        margin-left: 48px;
        border-left: 1px solid #cacfd4;
        padding-left: 30px;
    }

        .user_box span input, .pwd_box span input {
            width: 60%;
            height: auto;
        }

.msg {
    border: 1px solid #fffcd8;
    color: #e4a11b;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 20px;
    background: url(images/log_msg.png) #fffcd8 5px 8px no-repeat;
    margin: 15px 15px 0 15px;
    border-radius: 5px;
}
/*璁㈠崟闄勪欢涓婁紶*/
.txt_box .ud_pic {
    background: #b9b9b9;
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 2px;
}

    .txt_box .ud_pic img {
        width: 100%;
    }

.up_load .up_load_li, .up_load .up_load_li span {
    height: auto;
}

    .up_load .up_load_li span.txt_box {
        padding: 20px 0;
        width: 68%;
    }

    .up_load .up_load_li .ud_pic_btn {
        float: left;
        border: 2px dotted #d2d2d2;
    }

        .up_load .up_load_li .ud_pic_btn a {
            display: block;
            width: 51px;
            height: 51px;
            text-align: center;
            line-height: 45px;
            font-size: 30px;
        }

/*鎼滅储鏍�/
.app_order_tab2{ margin:10px}
.app_order_tab2 div{float:left;width:25%; text-align:center; height:40px; line-height:40px;}
.app_order_tab2 div.cur{ background:#299be4; color:#fff;}
.app_order_tab2 div.cur:nth-child(1){border-bottom-left-radius:5px;border-top-left-radius:5px;}
.app_order_tab2 div.cur:nth-child(4){border-bottom-right-radius:5px;border-top-right-radius:5px;}
.by_list{ position:relative; width:135px; padding-left:10px; margin:10px; height:30px; line-height:30px; font-size:14px;}
.by_list .i_arr_up{top:2px;border-bottom: 6px solid #999}
.by_list .i_arr_down{border-top: 6px solid #999; }
.by_list .i_arr_up_cur{top:2px;border-bottom: 6px solid #555;}
.by_list .i_arr_down_cur{border-top: 6px solid #555;}



/*涓夎*/
.i_arr {
    display: inline-block;
    *zoom: 1;
    overflow: hidden;
    width: 0;
    height: 0;
    border: 6px dashed transparent;
    position: absolute;
    right: 10px;
    top: 17px;
}

.i_arr_up {
    border-bottom: 6px solid #8F908D;
    top: 12px;
}

.i_arr_down {
    border-top: 6px solid #8F908D;
}

.i_arr_left {
    border-right: 6px solid #CB944D;
}

.seach_wap {
    margin: 10px 10px 0;
}

    .seach_wap .city_wap, .seach_wap .seach_box {
        height: 40px;
        line-height: 40px;
    }

    .seach_wap .city_wap {
        width: 30%;
        position: relative;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 1px 1px #d7d8dd;
        border: 1px solid #d7d8dd;
        float: left;
    }

        .seach_wap .city_wap span {
            margin-left: 10px;
        }

    .seach_wap .seach_box {
        float: right;
        width: 67%;
        position: relative;
    }

        .seach_wap .seach_box span {
            margin: 0 10% 0 10px;
            display: block;
        }

        .seach_wap .seach_box .s_icon {
            width: 31px;
            height: 40px;
            background: url(images/seach_ico.png) center center no-repeat;
            background-size: auto 20px;
            position: absolute;
            right: 5px;
            top: 0;
        }

 .pwd_box, .bor_box {
    border-radius: 5px;
    box-shadow: 0 1px 1px #d7d8dd;
    border: 1px solid #d7d8dd;
}

 .bor_box {
      background: #fff;
 }

.btn_claim_me {
    color: #0065bb;
}
/*placeholder棰滆壊*/
:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999;
}

.fm_app_list_xq{}
/*.cui-pop-box,.cm-slide{ background: #000000}*/
.order_box ul.fm_app_list li:last-child,.order_box ul.fm_app_list li:last-child span{ font-size:16px; line-height:30px; height:30px; padding-bottom:10px; color:#999}
.order_box .more_btn{ background:none; line-height:30px; height:30px; }
.order_box ul.fm_app_list .icon_next{ display:none;}

/*搴曢儴鑿滃崟*/
.nav_bottom{ height:30px; width:100%; background:#272727; padding:10px 0; position:fixed; bottom:0; z-index: 999}

.nav_bottom span{ float:left; display:inline-block; width:25%; text-align:center;color:#fff; }
.nav_bottom p{ height:23px; width:23px; margin:0 auto; background:url(images/nav_b_1.png)  no-repeat;}
.nav_bottom p.n_b_1{ background-position:8px top; background-size:}
.nav_bottom span:hover p.n_b_1{ background-position:-19px top}

.nav_bottom p.n_b_2{background-position:-53px top}
.nav_bottom span:hover p.n_b_2{ background-position:-80px top}

.nav_bottom p.n_b_3{background-position:-105px top}
.nav_bottom span:hover p.n_b_3{ background-position:-132px top}

.nav_bottom p.n_b_4{background-position:-159px top}
.nav_bottom span:hover p.n_b_4{ background-position:-187px top}

.nav_bottom span:hover{color:#299be4}
.nav_bottom b{ font-size:12px; font-weight:normal; vertical-align:top;}
.cm-header{ background: #4f5f6f;}
/*搴曢儴鎸夐挳榛勮竟鍘绘帀*/
.m_bt_g{ margin-bottom: 95px;}

.fm_app_list_xq li span{ height: 40px;line-height: 40px;}
.fm_app_list_xq li  .icon_next{ margin-top:7px;}

.txt_box .icon-tel{background:url(images/phone.png)  no-repeat;background-size: 18px 18px;margin-right: 3px; }

/*iphone4*/
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2) {
    .hwt_m_top {
        margin-top: 50px;
    }

    .hwt_s_logo {
        margin: 20px 30px;
    }

    .hwt_sys_tt {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .hwt_list span {
        font-size: 14px;
    }

    .fm_list span {
       
    }

    .fm_app_list li span, .fm_app_list li .icon_next, .app_more_btn .icon_next {
       
    }

    .fm_app_list li {
       
    }

    .fm_app_list2 article span {
        font-size: 14px;
    }

    .fm_app_list2 {
        padding: 10px 0 10px 4px;
    }

        .fm_app_list2 div span:nth-child(1) {
            padding:0 10px;
            width: 32%;
        }

        .fm_app_list2 div.ab_line span.pos_span {
            left: 40%;
        }

    .app_order_list dl dd div span:nth-child(1) {
        width: 25%;
    }

    .app_order_list dl dd div span:nth-child(2) {
        width: 42%;
    }

    .app_order_list dl dd div span:nth-child(3) {
        width: 28%;
    }

    .tips {
        font-size: 13px;
        background-size: 15px 15px;
        background-position: 2px 2px;
        line-height: 20px;
        padding-left: 20px;
    }

    .txt_box .ud_pic {
        width: 45px;
        height: 45px;
    }

    .up_load .up_load_li .ud_pic_btn a {
        display: block;
        width: 41px;
        height: 41px;
    }

    .seach_wap .city_wap{width:33%;}
    .seach_wap .seach_box{ width:64%;}
}

/*iphone5*/
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {
    .seach_wap .city_wap{width:33%;}
    .seach_wap .seach_box{ width:64%;}

    .hwt_s_logo {
        margin: 20px 30px;
    }

    .hwt_sys_tt {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .hwt_list span {
        font-size: 14px;
    }

    .hwt_m_top {
        margin-top: 80px;
    }

    .fm_list span {
    }

    .fm_app_list li span, .fm_app_list li .icon_next, .app_more_btn .icon_next {
     
    }

    .fm_app_list li {
    }

    .fm_app_list2 article span {
        font-size: 14px;
    }

    .fm_app_list2 {
        padding: 10px 0 10px 4px;
    }

        .fm_app_list2 div span:nth-child(1) {
            padding:0 10px;
            width: 32%;
        }

        .fm_app_list2 div.ab_line span.pos_span {
            left: 40%;
        }

    .app_order_list dl dd div span:nth-child(1) {
        width: 25%;
    }

    .app_order_list dl dd div span:nth-child(2) {
        width: 42%;
    }

    .app_order_list dl dd div span:nth-child(3) {
        width: 28%;
    }

    .tips {
        font-size: 13px;
        background-size: 15px 15px;
        background-position: 2px 2px;
        line-height: 20px;
        padding-left: 20px;
    }

    .txt_box .ud_pic {
        width: 45px;
        height: 45px;
    }

    .up_load .up_load_li .ud_pic_btn a {
        display: block;
        width: 41px;
        height: 41px;
    }

    .fm_app_list li .icon_next {
        margin-top: 0;
    }
}


/*iphone6+*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3) {
    .txt_box .ud_pic {
        margin-right: 10px;
    }
    .seach_wap .city_wap{width:29%;}
    .seach_wap .seach_box{ width:68%;}

}


/*鐩殑鍦板叧闂寜閽�/
.x-ico {
        position: relative;
        float: right;
        top: -8px;
        right: -8px;
        display: inline-block;
        width: 40px;
        height: 35px;
        padding: 10px 10px 0 10px
    }

        .x-ico:before {
            content: "";
            width: 1px;
            height: 15px;
            position: absolute;
            right: 13px;
            top: 12px;
            background-color: #fff;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .x-ico:after {
            content: "";
            width: 15px;
            height: 1px;
            position: absolute;
            right: 6px;
            top: 19px;
            background-color: #fff;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    .nofoot h3 {
        background: #4f5f6f;
        padding: 10px 10px 10px 5px;
        color: #fff;
        font: 600 18px/1.5 Tahoma;
    }