 
	
	<div class="nav_bottom" id="navbottom">

            <span onClick="UC.go('yulu')" >
                <p class="n_b_1"></p>
                <b>预录</b>
            </span>
            <span onClick="UC.go('find')">
                <p class="n_b_2"></p>
                <b>查询</b>
            </span>
            <span onClick="UC.go('my')">
                <p class="n_b_3"></p>
                <b>我的</b>
            </span>
            <!-- 
            <span onclick=" window.location.href = '../order/upload' ">
                <p class="n_b_4"></p>
                <b>上传附件</b>
            </span>
 			-->
    </div>
	