<div id="main">
  <div class="main_viewport">
    <div class="index_body">
      <div class="body_n1 xianghao_t1">
        <div class="xianghao_t1_1">
          <div class="xianghao_t1_1_t">输入11位箱号：</div>
          
        </div>
        <div class="xianghao_t1_2">
          <input type="text" id='containerCode' placeholder="请输入集装箱号">
        </div>
        <div class="xianghao_t1_3">
          <button class="xianghao_t1_1_t" id="containerCodeQuery">查询</button> 
        </div>
      </div>
    
    </div>
  </div>
</div>

