<div id="main">

    <div class="main_viewport">
      <div class="index_body">
<div class="phone_height register_page">
   
  <div  class="register_page_table ">
    <div class="register_page_table_div">
     <div  class="register_page_table_icon icon_phone" style='display: inline-block; float:left'></div>
      <div  class="register_page_table_text" style='display: inline-block;float:left'>
        <input type="text" id='phoneNumber' placeholder="手机号码">
      </div>
      <div class="register_page_table_xing" style='display: inline-block;float:left'>*</div>
     
     
    </div>
    <div class="register_page_table_line"></div>
  </div>
   
   
  <div  class="register_page_table2 ">
    <div class="register_page_table_div">
      
      <div  class="register_page_table_icon icon_email" style='display: inline-block;float:left'></div>
      <div  class="register_page_table_text" style='display: inline-block;float:left'>
        <input type="text" id='email' placeholder="电子邮箱">
      </div>
      <div class="register_page_table_xing" style='display: inline-block;float:left'>*</div>
    </div>
    <div class="register_page_table_line"></div>
  </div>
   
   
  <div class="login_page_user_button table_div" id='getPassword'> 获取密码</div>
</div>    </div>
  </div>
</div>