
<nav class="app_site padlr basefix">
	<a href="#" class="txt_lt fl">找回方式</a>
	<!-- 
    <a href="#" class="txt_lr fr">联系携程</a>
     -->
</nav>

<ul class="fm_app_list basefix marlr">
	<li><span class="lab">电话找回</span><span class="txt_box"><input type="text"  placeholder="注册时电话号码"></span><i class="icon_next"></i> </li>
	<li><span class="lab">邮箱找回</span><span class="txt_box"><input type="text"  placeholder="注册时邮箱"></span><i class="icon_next"></i> </li>
	 
</ul>



<!-- 
<nav class="padlr">用户信息</nav>

<ul class="fm_app_list basefix">
	<li><span class="lab">用户名</span><span class="txt_box"><input type="text" placeholder="用户名称"></span><i class="icon_next"></i></li>
    <li><span class="lab">密码<span style='color:red'>*</span></span><span class="txt_box"><input type="text" placeholder="6位以上数字或字母"></span><i class="icon_next"></i></li>
    <li><span class="lab">重复密码<span style='color:red'>*</span></span><span class="txt_box"><input type="text" placeholder="6位以上数字或字母"></span><i class="icon_next"></i></li>
    <li><span class="lab">所属车队</span><span class="txt_box"><input type="text" placeholder=""></span><i class="icon_next"></i></li>
    <li><span class="lab">电子邮箱</span><span class="txt_box"><input type="text"></span><i class="icon_next"></i></li>
   
</ul>
<a class="app_btn_a" style="margin:10px 10px 60px;"><span>更多交通、酒店、用餐等要求</span><i class="icon_next"></i></a>
 -->

<section class="nav_btn">
	<a class="" href="javascript:void(0)" id="getCode" style='width:100%'>找回密码</a>
   
</section>


