 <div id="main">
  <div class="main_viewport">
    <div class="index_body">
      <div class="home_zw"></div>
      <div class="home_ad"><img src="res/images/homeda.jpg"></div>
      <div class="home_menu" style="height: 336px;">
      
        <div class="home_menu_l" style="width: 172.5px;">
         <a href="javascript:void(0);" id='yulu' class="home_menu_m1" style="height: 163px;"> 
             <div class="home_menu_l_c">
       				  <i><img src="res/images/home_menu_01.png"></i> <span class="menu_text">预 录</span> 
        	 </div> 
         </a>
         
         <a href="javascript:void(0);" id='chongzhi' class="home_menu_m2" style="height: 163px;">
        	 <div class="home_menu_l_c2"> <i><img src="res/images/icon_04.png"></i> <span class="menu_text">充 值</span> </div>
         
         </a>
         
         </div>
        <div class="home_menu_r" style="width: 172.5px;">
        		<a href="javascript:void(0);" id='xhyz' class="home_menu_m3" style="height: 105.333px;">
        			<div class="home_menu_l_c3"> <i><img src="res/images/icon_04-05.png"></i> <span class="menu_text">箱号验证</span> </div>
        		</a>
        		
        		<a href="javascript:void(0);" id='jgcx' class="home_menu_m4" style="height: 105.333px;">
        			<div class="home_menu_l_c4">  <i><img src="res/images/icon_04-07.png"></i> <span class="menu_text">进港查询</span> </div>
        		</a>
        		<a href="javascript:void(0);" id='smyl' class="home_menu_m5" style="height: 105.333px;">
        			<div class="home_menu_l_c4"> <i><img src="res/images/icon_04-09.png"></i> <span class="menu_text">扫码预录</span> </div>
        		</a>
        	</div>
      </div>
    </div>
  </div>
</div>

<div class="foot">
  <ul>
  <li class="hover">
     		<div class="icon_home"></div>
            <div >首  页</div>
     </li>
     <li onclick="UC.go('yulu',{anim:false})" >
     		<div class="icon_yulu"></div>
            <div>预  录</div>
     </li>
     <li onclick="UC.go('find',{anim:false})">
     		<div class="icon_zonghe"></div>
            <div >综   合</div>
     </li>
  
     <li onclick="UC.go('my',{anim:false})">
     		<div class="icon_wode"></div>
            <div>我  的</div>
     </li>
  
  </ul>



</div>