<div >
		<div class="main-frame">
			<div class="main-viewport"><div id="client_id_viewport_1_1441712641899" page-url="/m/Account/Index" data-view-name="index" style=""><div id="accountinfo">
    <!--user_app_wap-->
    <section class="user_app_wap">
        <img class="icobg" src="./携程会务管理平台1_files/icobg.png">
        
        <div class="user_app_name">来来</div>
        <div class="company_app_name">礼来苏州制药有限公司</div>
        
    </section>
    <!--END OF user_app_wap-->
    <!--fm_app_list-->
    
    <ul class="fm_app_list basefix" style="margin-top:10px;">
        <li class="link clearfix" tag="require"><span>待提交需求单</span><i class="icon_next"></i><em class="cur">23</em></li>
        <li class="link clearfix" tag="quotation"><span>待确认报价单</span><i class="icon_next"></i><em class="cur">4</em></li>
        <li class="link clearfix" tag="orderconfirm"><span>待确认订单</span><i class="icon_next"></i><em class="cur">7</em></li>
        <li class="link clearfix" tag="orderpayment"><span>待付款订单</span><i class="icon_next"></i><em class="cur">25</em></li>
        <!--<li class="link clearfix" tag="search"><span>我的会议</span><i class="icon_next"></i></li>-->
        <!--<li class="link clearfix" tag="createRequirement"><span>创建会议</span><i class="icon_next"></i></li>-->
    </ul>
    
    <!--END OF fm_app_list-->
    <!--app_user_btn-->
    <a class="app_out_btn m_bt_g" id="btnLogout">退出账号</a>
    <!--NED OF app_user_btn-->
    
</div>


</div></div>
			<div class="main-state"></div>
		</div>	
	</div>
	
	
	<div class="nav_bottom" id="navbottom">

            <span onclick=" window.location.href = '../Account/Index' ">
                <p class="n_b_1"></p>
                <b>预录</b>
            </span>
            <span onclick=" window.location.href = '../Requirement/Process' ">
                <p class="n_b_2"></p>
                <b>查询</b>
            </span>
            <span onclick=" window.location.href = '../Common/Search' ">
                <p class="n_b_3"></p>
                <b>我的</b>
            </span>
            <!-- 
            <span onclick=" window.location.href = '../order/upload' ">
                <p class="n_b_4"></p>
                <b>上传附件</b>
            </span>
 -->
    </div>
	