<div id="main">
  <div class="main_viewport">
    <div class="index_body_login">
      <div class="phone_height login_page">
        <div class="login_page_title" style='margin-top:0%'> 您身边的物流信息好帮手 </div>
        <div class="login_page_line"> </div>
       <div class="login_page_logo"> <img src="res/images/login_logo.png" alt=""> </div>
        <div class="login_page_user login_page_user_magin1 table_div">
          <div class="login_page_user_left"><img src="res/images/login_user1.png"  alt=""/> </div>
          <div class="login_page_user_right">
            <input type="text" id='username' placeholder="用户名/电话号码">
          </div>
        </div>
        <div class="login_page_user login_page_user_magin2 table_div">
          <div class="login_page_user_left"><img src="res/images/login_pass.png" alt=""/> </div>
          <div class="login_page_user_right">
            <input type="text" id='password' placeholder="密码">
          </div>
        </div>
        <div class="login_page_user_button table_div" id='login' > 登　陆</div>
        <div class="login_page_fps table_div" style='margin-bottom: 20%'><span class="login_page_fps_register"><a href="javascript:void(0);" id='register' >没有账号？点我注册</a></span><a href="javascript:void(0);" id='forget' >忘记密码?</a></div>
      </div>
    </div>
  </div>
</div>