

<section class="hwt_s_logo hwt_m_top">
 			<img src="./res/images/hwt_s_logo.png">
</section>

<section class="user_box">
    <span><input type="text" id="username" placeholder="请输入用户名"></span>
</section>
<section class="pwd_box">
    <span><input type="password" id="password" placeholder="请输入密码"></span>
</section>

<a class="app_out_btn" id="login" style="margin-top:20px;width:38%;display:inline-block ;background-color: #15a4d5;">登录</a>
<a class="app_out_btn" id="register" style="margin-top:20px;width:38%;display:inline-block ">注册</a>
<a href="javascript:void(0)" id='forget' style='font-size: 14px;color: white; float: right;margin-right: 20px;margin-top: -5px;'>忘记密码</a>
<!-- 
<center style="padding-bottom: 10px"><img src="./res/images/2w.jpg" style="width: 100px"></center>
 -->

	 
		
			
		
		
 