 
<div id="main">
  <div class="main_viewport">
    <div class="my_body">
      <div class="top_zwf"></div>
      <div class="my_list">
        <ul>
          <li><input type="password" class="my_modify"  id='password'>旧密码</li>
          <li><input type="password" class="my_modify" id='newPassword'>新密码</li>
          <li><input type="password" class="my_modify" id='reNewPassword'>重复密码</li> 
        </ul>
      </div>
      <div class="login_page_user_button table_div" id='submitUser'> 保  存</div>
      <div class="bottom_zwf"></div> 
      
      
    </div>
  </div>
</div>