<div id="main">

    <div class="main_viewport">
      <div class="index_body">
<div class="phone_height register_page">
   
  <div  class="register_page_table ">
    <div class="register_page_table_div">
     <div  class="register_page_table_icon icon_password" style='display: inline-block; float:left'></div>
      <div  class="register_page_table_text" style='display: inline-block;float:left'>
        <input type="text" id='password' placeholder="旧密码">
      </div>
      <div class="register_page_table_xing" style='display: inline-block;float:left'>*</div>
     
     
    </div>
    <div class="register_page_table_line"></div>
  </div>
   
   
  <div  class="register_page_table2 ">
    <div class="register_page_table_div">
      
      <div  class="register_page_table_icon icon_password" style='display: inline-block;float:left'></div>
      <div  class="register_page_table_text" style='display: inline-block;float:left'>
        <input type="text" id='newPassword' placeholder="新密码">
      </div>
      <div class="register_page_table_xing" style='display: inline-block;float:left'>*</div>
    </div>
    <div class="register_page_table_line"></div>
  </div>
   
     <div  class="register_page_table2 ">
    <div class="register_page_table_div">
      
      <div  class="register_page_table_icon icon_password" style='display: inline-block;float:left'></div>
      <div  class="register_page_table_text" style='display: inline-block;float:left'>
        <input type="text" id='reNewPassword' placeholder="重复密码">
      </div>
      <div class="register_page_table_xing" style='display: inline-block;float:left'>*</div>
    </div>
    <div class="register_page_table_line"></div>
  </div>
   
  <div class="login_page_user_button table_div" id='submitUser'> 提交</div>
</div>    </div>
  </div>
</div>