 
<!--user_app_wap-->
<section class="user_app_wap">
	<img class="icobg" src="images/icobg.png">
    <div class="user_app_name">张三三</div>
    <div class="company_app_name">携程计算机技术（上海）有限公司</div>
</section>
<!--END OF user_app_wap-->

<!--fm_app_list-->
<ul class="fm_app_list basefix" style="margin-top:10px;">
	<li><span>待提交需求单</span><i class="icon_next"></i><em>11</em></li>
    <li><span>待提交需求单</span><i class="icon_next"></i><em class="cur">37</em></li>
    <li><span>待提交需求单</span><i class="icon_next"></i><em>11</em></li>
    <li><span>待提交需求单</span><i class="icon_next"></i><em>11</em></li>
</ul>
<!--END OF fm_app_list-->


<!--app_user_btn-->
<a class="app_out_btn">退出账号</a>
<!--NED OF app_user_btn-->
 