<div id="main">
  <div class="main_viewport">
    <div class="my_body">
      <div class="top_zwf"></div>
      <div class="my_top1">
        <div class="my_photo"><img src="res/images/my_photo.jpg" width="166" height="166"></div>
        <div class="my_name" id='username'>小黑苹果</div>
        <div class="my_company" id='company'>上海XXX技术有限公司</div>
      </div>
      <div class="my_list">
        <ul>
          <li id='myInfo'><i class="icon_my_jt"></i><i class="icon_zl my_icon"></i>我的资料
          </li>
          <li><i class="icon_my_jt"></i><i class="icon_jf my_icon"></i>我的积分<span class="my_red" id='integral'></span>
          </li>
          <li><i class="icon_my_jt"></i><i class="icon_ye my_icon"></i>我的余额<span class="my_red" id='accountMoney'></span>
          </li>
           <li><i class="icon_my_jt"></i><i class="icon_ye my_icon"></i>我的邀请码<span class="my_red" id='yqm'></span>
          </li>
          <li id='modifyPassword'><i class="icon_my_jt"></i><i class="icon_mm my_icon"></i>修改密码
          </li>
        </ul>
      </div>
      
        <div class="my_list">
        <ul>
          <li id='loginOut'><i class="icon_zx my_icon"></i>注销
          </li>
        </ul>
      </div>
      <div class="bottom_zwf"></div> 
      
      
    </div>
  </div>
</div><div class="foot">
  <ul>
  <li onclick="UC.go('home',{anim:false})">
     		<div class="icon_home"></div>
            <div >首  页</div>
     </li>
     <li onclick="UC.go('yulu',{anim:false})">
     		<div class="icon_yulu"></div>
            <div>预  录</div>
     </li>
     <li  onclick="UC.go('find',{anim:false})">
     		<div class="icon_zonghe"></div>
            <div >综   合</div>
     </li>
  
     <li class="hover" >
     		<div class="icon_wode"></div>
            <div>我  的</div>
     </li>
  
  </ul>
  </div>