<div id="main">
  <div class="main_viewport">
    <div class="my_body">
      <div class="top_zwf"></div>
      <div class="my_list">
        <ul>
          <li><input type="text" class="my_modify" readonly=true id='username'>用户名</li>
          <li><input type="text" class="my_modify" id='email'>电子邮箱</li>
          <li><input type="text" class="my_modify" id='theFleet'>所属车队</li> 
        </ul>
      </div>
      <div class="login_page_user_button table_div" id='myInfoSave'> 保  存</div>
      <div class="bottom_zwf"></div> 
      
      
    </div>
  </div>
</div>