 
 <div id="main">
  <div class="main_viewport">
    <div class="my_body">
      <div class="top_zwf"></div>
      <div class="my_list">
        <ul>
          <li><span class="dingdan_right" data-price='10' id='price'>10元</span>预录</li>
          <li><span class="dingdan_right"><i class="icon_jian"  id='remove' ></i><input type="tel"  class="dd_input" id='quantity' value="1"><i class="icon_jia" id='add'></i></span>数量</li>
          <li><span class="dingdan_right text_red_dd" id='total' data-total='10'>10元</span>
          小计</li>
          
          
        </ul>
      </div>
      
      <div class="bd_phone">您绑定的手机号码</div>
      
       <div class="my_list">
        <ul>
          <li><span class="dingdan_right"><i class="icon_dd_jt"></i></span><span id='tel'></span></li>
       
          
          
        </ul>
      </div>
      <div class="login_page_user_button table_div" id="gotoRecharge"> 提交订单</div>
      <div class="bottom_zwf"></div>
      
      
      
      
      
      
      
      
      
      
    </div>
  </div>
</div>