<div id="main">
    <div class="main_viewport">
      <div class="index_body">
        <div class="phone_height register_page">
          <div class="regesit_tab table_div">
            <div class="regesit_tab_1 regesit_tab_hover"> 手机验证 </div>
            <div class="regesit_tab_2"> </div>
            <div class="regesit_tab_3"> 基本资料 </div>
          </div>
          <div  class="register_page_table ">
            <div class="register_page_table_div">
              <div  class="register_page_table_icon icon_phone"></div>
              <div  class="register_page_table_text">
                <input type="text" id='phoneNumber' placeholder="手机号码">
              </div>
            </div>
            <div class="register_page_table_line"></div>
          </div>
          <div class="register_page_yanzheng">
            <div class="register_page_yanzheng_button" id='getCode'>获取验证码</div>
            <div class="register_page_yanzheng_input">
              <input type="text" id='code' placeholder="请输入验证码">
            </div>
          </div>
          <div class="login_page_user_button table_div " id='gotoNext'> 下一步</div>
        </div>
      
    </div>
  </div>
</div>