<div id="main">

    <div class="main_viewport">
      <div class="index_body">
<div class="phone_height register_page">
  <div class="regesit_tab">
    <div class="regesit_tab_1 "> 手机验证 </div>
    <div class="regesit_tab_2_2"> </div>
    <div class="regesit_tab_3 regesit_tab_hover"> 基本资料 </div>
  </div>
  <div  class="register_page_table ">
    <div class="register_page_table_div">
      <div class="register_page_table_xing">*</div>
      <div  class="register_page_table_icon icon_phone"></div>
      <div  class="register_page_table_text">
        <input type="text" id='userName' readonly>
      </div>
    </div>
    <div class="register_page_table_line"></div>
  </div>
  <div  class="register_page_table2 ">
    <div class="register_page_table_div">
      <div class="register_page_table_xing">*</div>
      <div  class="register_page_table_icon icon_password"></div>
      <div  class="register_page_table_text">
        <input type="text" id='password' placeholder="6位以上数字或字母">
      </div>
    </div>
    <div class="register_page_table_line"></div>
  </div>
  <div  class="register_page_table2 ">
    <div class="register_page_table_div">
      <div class="register_page_table_xing">*</div>
      <div  class="register_page_table_icon icon_password"></div>
      <div  class="register_page_table_text">
        <input type="text" id='repassword' placeholder="请重复输入密码">
      </div>
    </div>
    <div class="register_page_table_line"></div>
  </div>
  <div  class="register_page_table2 ">
    <div class="register_page_table_div">
      <div class="register_page_table_xing">*</div>
      <div  class="register_page_table_icon icon_email"></div>
      <div  class="register_page_table_text">
        <input type="text" id='email' placeholder="电子邮箱">
      </div>
    </div>
    <div class="register_page_table_line"></div>
  </div>
  <div  class="register_page_table2 ">
    <div class="register_page_table_div">
      <div class="register_page_table_xing">*</div>
      <div  class="register_page_table_icon icon_car"></div>
      <div  class="register_page_table_text">
        <input type="text" id='theFleet' placeholder="所属车队">
      </div>
    </div>
    <div class="register_page_table_line"></div>
  </div>
  <div  class="register_page_table2 ">
    <div class="register_page_table_div">
      <div class="register_page_table_xing">*</div>
      <div  class="register_page_table_icon icon_yaoqing"></div>
      <div  class="register_page_table_text">
        <input type="text" id='invitationCode' placeholder="邀请码">
      </div>
    </div>
    <div class="register_page_table_line"></div>
  </div>
  <div class="login_page_user_button table_div" id='submit'> 下一步</div>
</div>    </div>
  </div>
</div>