<div id="main">
  <div class="main_viewport">
    <div class="index_body" style='min-height: 630px'>
      <div class="yulu_tab">
        <div class="search_input" >
          <input type="text" id="searchTxt">
        </div>
        <div class="search_button"> <i class="dc_icon_sear" id="search"></i> </div>
      </div>
	   <div id='scroller'>
	    <ul id='shippingDateQueryListUl'>
	   <% _.each(data,function(d){%> 
		<li>
			 <div class="duix_box">
			<div class="duix_box_1"><%=d.englishShipsName%> &nbsp; <%=d.voyageNumber%></div>
			<div class="duix_box_2">
			  <div class="duix_box_2_l">港口:</div>
			  <div class="duix_box_2_r"><%=d.portName%></div>
			</div> 
			<div class="duix_box_2">
			  <div class="duix_box_2_l">开港时间:</div>
			  <div class="duix_box_2_r"><%=d.intoBoxStartDate%></div>
			</div> 
			<div class="duix_box_2">
			  <div class="duix_box_2_l">截港时间:</div>
			  <div class="duix_box_2_r"><%=d.intoBoxEndDate%></div>
			</div>
			
			 
		  </div>
		<li> 
		 	<%})%>
	  </ul>
     
	</div> 
     
       
       
    </div>
  </div>
</div>

 