 <!-- 
 <div style='margin-top:50px'> 
<%_.each(data,function(d){%>
<div name='detailList' class="order_box" style="margin-bottom: 6px">
	<div class="list_num"><i>1</i></div>
    <ul class="fm_app_list basefix" style="margin-top:0"">
        <li  ><span class="lab"></span><span class="txt_box"><%=d.title%></span></li>
        <li><span class="lab">联系电话</span><span class="txt_box"><%=d.title%></span></li>
        <li><span class="lab">营业范围</span><span class="txt_box"><%=d.content%></span></li>
        <li><span class="lab">地址</span><span class="txt_box"><%=d.address%></span></li> 
    </ul>
</div>
 <%})%>
  
</div>
  -->
  
  <style>
  #wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

#scroller li {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}
  
  </style>
<div  id='wrapper' > 
	<div id='scroller'>
	    <ul >
	        <li  >123123</li>
	         <li  >123123</li>
	          <li  >123123</li>
	           <li  >123123</li>
	            <li  >123123</li>
	             <li  >123123</li>
	              <li  >123123</li>
	         <li  >123123</li>
	          <li  >123123</li>
	           <li  >123123</li>
	            <li  >123123</li>
	             <li  >123123</li>
	              <li  >123123</li>
	         <li  >123123</li>
	          <li  >123123</li>
	           <li  >123123</li>
	            <li  >123123</li>
	             <li  >123123</li>
	              <li  >123123</li>
	         <li  >123123</li>
	          <li  >123123</li>
	           <li  >123123</li>
	            <li  >123123</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	              <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	       <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	              <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	             <li  >66666666666</li>
	    </ul>
	</div>
	 
 </div>