<section class="hwt_s_logo" >
	<img src="res/images/hwt_s_logo.png"/>
</section>

<!--hwt_sys-->
<section class="hwt_sys">
	<div class="hwt_sys_tt">xxx 详情</div>
    <ul class="hwt_list basefix">
    	<li>
        	<span class="row">名称</span>
            <span>显示账号下所有需要处理的平台需求单、报价单和订单信息。</span>
        </li>
        <li>
        	<span class="row">联系电话</span>
            <span>快速新建一个会议，提交后，服务商会收到新的会议需求单。</span>
        </li>
        <li>
        	<span class="row">qq 微信</span>
            <span>可以上传报价单和订单附件，暂只支持图片格式，该功能无需账号登录</span>
        </li>
        <li>
        	<span class="row">主营范围</span>
            <span>可根据单据ID，目的城市等不同的条件查询出所需要的单据信息，查询结果中显示近30天提交的需求，如需查看更多请至网页版平台查看。</span>
        </li>
        <li>
        	<span class="row">地址</span>
            <span>可根据单据ID，目的城市等不同的条件查询出所需要的单据信息，查询结果中显示近30天提交的需求，如需查看更多请至网页版平台查看。</span>
        </li>
    </ul>
</section>