
 

<div id="main">
  <div class="main_viewport">
    <div class="index_body">
      <div class="body_n1 xianghao_t1">
        <div class="xianghao_t1_1">
          <div class="xianghao_t1_1_t">输入11位箱号：</div>
          <div class="xianghao_t1_1_b">(支持批量输入)</div>
        </div>
        <div class="xianghao_t1_2">
          <input type="text" id='txt' placeholder="请输入集装箱号">
        </div>
        <div class="xianghao_t1_3">
          <button class="xianghao_t1_1_t" id="doCheck">提交校验</button>
          <div class="xianghao_t1_1_b">(一行一个箱号)</div>
        </div>
      </div>
      <div class="xianghao_t2">
         <div class="xianghao_t2_right">
             <div>正确的箱号列表：</div>
             <div><textarea  id="tc"></textarea></div>
         </div>
          <div class="xianghao_t2_error">
             <div>错误的箱号列表：</div>
             <div><textarea id="tf"></textarea></div>
         </div>
      
      
      
      </div>
    </div>
  </div>
</div>

