<div id="main">
  <div class="main_viewport">
    <div class="index_body">
      <div class="yulu_tab">
        <ul>
          <li class="hover" name='tab' id='tab1' >预录</li>
          <li name='tab' id='tab2'>待预录</li>
          <li name='tab'>待处理</li>
          <li name='tab'>已完成</li>
        </ul>
      </div>
      <div id='yl1' name='tabContent' >
      	<div class="yulu_photo">
        <div class="yulu_photo_title">您的预录还剩余<span class="text_green" id='prerecordCount'>0</span>次</div>
        <div class="yulu_photo_photo" style="height: 263px;" id='photograph'>
              <div class="yulu_photo_photo_small_dw">
               <i class="icon_photo"></i>
               <div>拍照上传</div>
              </div>
            </div> 
      
      </div>
        <div class="login_page_user_button table_div" id="subYulu">提交预录</div>
          <div class="yulu_kefu">客服电话：187549467465</div>
          <div class="yulu_gundong">
            <ul id='yuluSrcoll'>
              <li><span class="yulu_gundong_right">2015-09-15  14:34:42</span>用户XXX充值了795元</li>
              <li><span class="yulu_gundong_right">2015-09-15  14:34:42</span>用户XXX充值了795元</li>
              <li><span class="yulu_gundong_right">2015-09-15  14:34:42</span>用户XXX充值了795元</li>  
            </ul> 
          </div>
      	
      </div>
          <!-- 待预录 -->
          <div class="daiyulu_list" name='tabContent' id='yl2' style='display:none'>
        <ul id="dylUl">
           
        </ul>
      </div>
      
          <!-- 待处理 -->
          <div class="daiyulu_list" name='tabContent'  id='yl3' style='display:none'>
        <ul id="dclUl">
            <!-- 
           <li>
            <div class="daiyulu_li" name="dcl">
              <div class="daiyulu_button"> 申请时间:9-24  15:32:32<br>完成时间:9-24  15:32:32</div>
              <div class="daiyulu_img"><img src="images/pic.jpg" alt=""></div>
            </div>
            <div>  </div>
            <div class="daiyulu_line"></div>
          </li> 
           -->
          
        </ul>
        
      </div>
          
                   <!-- 已完成-->
          <div class="daiyulu_list" name='tabContent'  id='yl4' style='display:none'>
        <ul id="ywcUl">
          <!-- 
          <li>
            <div class="daiyulu_li" name="ywc">
              <div class="daiyulu_button"> 申请时间:9-24  15:32:32<br>完成时间:9-24  15:32:32</div>
              <div class="daiyulu_img"><img style='width:150px;height:150px;' src="images/pic.jpg" alt=""></div>
            </div>
            <div class="login_page_user_button table_div" id="subYulu">确认预录</div>
            <div class="daiyulu_line"></div>
          </li>
           -->
        </ul>
      </div>
          
          
    </div>
  </div>
</div>

<div class="foot">
  <ul>
     <li class="hover">
     		<div class="icon_yulu"></div>
            <div>预  录</div>
     </li>
     <li>
     		<div class="icon_zonghe"></div>
            <div>综   合</div>
     </li>
  
     <li>
     		<div class="icon_wode"></div>
            <div>我  的</div>
     </li>
  
  </ul> 

</div>