<div style='margin-top:50px'>
<section class="app_order_tab app_box basefix">
	<div name='tab' class="cur">预录</div>
    <div name='tab' >待处理</div>
    <div name='tab'>已完成</div>
</section>
<!--END OF app_order_tab-->
  
 
<div id="yulu">  

	<ul class="fm_app_list basefix up_load" style="margin:0 10px 0 10px;">
	    
	    <li class="up_load_li basefix"> 
	    	<span class="txt_box basefix">
	        	  <a style="display: block;margin-left: 62%">点击预录</a>
	        </span>
	    </li>
	</ul>
	
	<nav class="padlr fm_tit">服务商（携程国际旅行社）</nav>
	
	<ul class="fm_app_list basefix marlr" style="margin-bottom:55px;">
		<li><span class="lab">联系人</span><span class="txt_box">张三三</span></li>
	    <li><span class="lab">联系电话</span><span class="txt_box">13818625487</span></li>
	</ul>
	<section style='display:none' class="nav_btn">
		<a class="" href="#">确认订单</a>
	    <a class="bc" href="#">通知服务商调整</a>
	</section>
</div>
<div id="daiyulu" style="display:none">  
 
	<ul class="fm_app_list basefix marlr" style="margin-bottom:55px;">
		<li><span class="lab">联系人</span><span class="txt_box">张三三</span></li>
	    <li><span class="lab">联系电话</span><span class="txt_box">13818625487</span></li>
	</ul>
	 
</div>
<div id="yiwancheng" style="display:none">  
 
	<ul class="fm_app_list basefix marlr" style="margin-bottom:55px;">
		<li><span class="lab">联系人</span><span class="txt_box">张三三</span></li>
	    <li><span class="lab">联系电话</span><span class="txt_box">13818625487</span></li>
	</ul>
	 
</div>

</div>
