<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
<meta name="format-detection" content="telephone=no" />
<title>待处理单据列表</title>
<link rel="stylesheet" type="text/css" href="css/hwtapp.css">
</head>

<body>
<nav class="app_site padlr basefix">
	<a href="#" class="txt_lt fl">返回订单列表</a>
</nav>

<!--订单列表-->
<div class="order_box">
	<div class="list_num"><i>1</i></div>
    <ul class="fm_app_list basefix" style="margin-top:0"">
        <li><span class="lab">订单号</span><span class="txt_box">O-310470</span></li>
        <li><span class="lab">目的城市</span><span class="txt_box">上海</span></li>
        <li><span class="lab">活动名称</span><span class="txt_box">MICE上海老客户答谢会</span></li>
        <li><span class="lab">活动时间</span><span class="txt_box">2015-07-12</span></li>
        <li><span class="lab">人数</span><span class="txt_box">80</span></li>
        <li style="background:#299be4;"><a class="more_btn"><span>查看详情</span><i class="icon_next"></i></a></li>
    </ul>
</div>
<!--END OF 订单列表-->
<!--订单列表-->
<div class="order_box">
	<div class="list_num"><i>2</i></div>
    <ul class="fm_app_list basefix" style="margin-top:0"">
        <li><span class="lab">订单号</span><span class="txt_box">O-310470</span></li>
        <li><span class="lab">目的城市</span><span class="txt_box">上海</span></li>
        <li><span class="lab">活动名称</span><span class="txt_box">MICE上海老客户答谢会</span></li>
        <li><span class="lab">活动时间</span><span class="txt_box">2015-07-12</span></li>
        <li><span class="lab">人数</span><span class="txt_box">80</span></li>
        <li style="background:#299be4;"><a class="more_btn"><span>查看详情</span><!--<i class="icon_next"></i>--></a></li>
    </ul>
</div>
<!--END OF 订单列表-->
<!--订单列表-->
<div class="order_box">
	<div class="list_num"><i>3</i></div>
    <ul class="fm_app_list basefix" style="margin-top:0"">
        <li><span class="lab">订单号</span><span class="txt_box">O-310470</span></li>
        <li><span class="lab">目的城市</span><span class="txt_box">上海</span></li>
        <li><span class="lab">活动名称</span><span class="txt_box">MICE上海老客户答谢会</span></li>
        <li><span class="lab">活动时间</span><span class="txt_box">2015-07-12</span></li>
        <li><span class="lab">人数</span><span class="txt_box">80</span></li>
        <li style="background:#299be4;"><a class="more_btn"><span>查看详情</span><!--<i class="icon_next"></i>--></a></li>
    </ul>
</div>
<!--END OF 订单列表-->



</body>
</html>
