<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
<meta name="format-detection" content="telephone=no" />
<title>需求单编辑页</title>
<link rel="stylesheet" type="text/css" href="css/hwtapp.css">
</head>

<body>
<nav class="app_site padlr basefix">
	<a href="#" class="txt_lt fl">返回订单列表</a>
    <a href="#" class="txt_lr fr">联系携程</a>
</nav>

<ul class="fm_app_list basefix marlr">
	<li><span class="lab">需求单号</span><span class="txt_box">R-89480176</span></li>
</ul>

<nav class="padlr">结算单</nav>

<ul class="fm_app_list basefix">
	<li><span class="lab">会议预算</span><span class="txt_box"><input type="text" placeholder="预算金额（元）" placeholder="" /></span></li>
    <li><span class="lab">人数</span><span class="txt_box"><input type="text" placeholder="活动人数" /></span></li>
    <li><span class="lab">活动时间</span><span class="txt_box"><input type="text" placeholder="活动预计出发时间" /></span></li>
    <li><span class="lab">目的城市</span><span class="txt_box"><input type="text" placeholder="目的地城市" /></span><i class="icon_next"></i></li>
    <li><span class="lab">活动名称</span><span class="txt_box"><input type="text" /></span></li>
    <li><span class="lab">活动编码</span><span class="txt_box"><input type="text" /></span></li>
    <li><span class="lab">其他说明</span><span class="txt_box"><input type="text" /></span></li>
</ul>


<a class="app_btn_a" style="margin:10px 10px 60px;"><span>更多交通、酒店、用餐等要求</span><i class="icon_next"></i></a>


<section class="nav_btn">
	<a class="" href="#">提交需求</a>
    <a class="bc" href="#">保存草稿</a>
</section>
</body>
</html>
